# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
Z80Computer-backups/Z80Computer-2023-11-06_193159.zip
Z80Computer-backups/Z80Computer-2023-11-05_102416.zip
Z80Computer-backups/Z80Computer-2023-11-06_190238.zip
Z80Computer-backups/Z80Computer-2023-11-06_190942.zip
Z80Computer-backups/Z80Computer-2023-11-06_191541.zip
Z80Computer-backups/Z80Computer-2023-11-06_192212.zip
Z80Computer-backups/Z80Computer-2023-11-05_102416.zip
assemblyCode/game1.lst
assemblyCode/game1.txt
assemblyCode/temp.txt
assemblyCode/20by4Display.lst
assemblyCode/20by4Display.txt
assemblyCode/20by4Monitor.lst
